SECRET_KEY=#Genere una key para su entorno
DEBUG=#Se recomienda True en desarrollo y False en producción

DATABASE_HOST=  #localhost
DATABASE_NAME=  #nombre de la base de datos
DATABASE_USERNAME=  
DATABASE_PASSWORD=               
DATABASE_PORT= #5432

ALLOWED_HOSTS=
ACCESS_TOKEN_LIFETIME=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=

#Cada uno agregue sus variables de entorno